.bg-a-247{
    background-color: rgb(247, 247, 247);
}

.t-align-center{
    text-align: center;
}

.py-10{
    padding: 10% 0;
}

.fw-600{
    font-weight: 600;
}

.c-ffa62b{
    color: #ffa62b;
}

.c-363b42{
    color: #363b42;
}

.mb-3{
    margin-bottom: 3%;
}

.fs-50{
    font-size: 50px;
}

.mt-3{
    margin-top: 3%;
}