.main{
    height: 92.3vh;
    display: grid;
    grid-template-columns: 350px 650px 350px;
    justify-content: center;
}

.menu{
    margin-top: 20px;
    background-color: white;
    overflow: hidden;
}

.left-section{
    margin-left: 70px;
    flex-direction: column;
    max-width: 350px;
}

.left-section button{
    background-color: rgb(0, 136, 255);
    border: 1px solid rgb(0, 136, 255);
    padding: 10px 20px;
    border-radius: 25px;
    color: white;
    font-weight: 700;
    width: 100%;
    cursor: pointer;
    margin: 15px 0;
}

.left-section button:hover{
    color: rgb(0, 136, 255);
    background-color: rgb(223, 236, 255);
}

.right-section{
    margin-right: 70px;
    max-width: 350px;
}

.content-section{
    height: 100vh;
    margin: 20px;
}

.messages{
    margin: 20px 0;
    flex-direction: column;
    background-color: white;
    align-items: center;
}

.profile{
    width: 100%;
    padding: 10px 0;
    padding-left: 10px;
    cursor: pointer;
}

.profile-name{
    margin-left: 15px;
}

.profile-name p{
    font-size: 15px;
}

.profile img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.profile p{
    color: grey;
}

.box{
    align-items: center;
    padding: 15px 20px;
    cursor: pointer;
}

.box h2{
    font-size: 18px;
    font-weight: 600;
    z-index: 10;
}

.box img{
    margin-right: 20px;
    z-index: 10;
}

.user-stories{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    justify-content: center;
}

.story{
    overflow: hidden;
    position: relative;
    border-radius: 15px;
    margin: 10px 3px;
    transition: transform 0.3s ease-in;
    cursor: pointer;
    width: 94px;
    height: 180px;
}

.story:hover .story-content{
    transform: rotate(0deg) scale(1);
    z-index: 1000;
}

.story-profile{
    position: absolute;
    top: 15px;
    left: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid white;
    z-index: 10;
}

.story-profile:hover{
    transform: scale(1.2);
}

.story-content{
    transform: rotate(45deg) scale(3);
    border-radius: 15px;
    width: 94px;
    height: 180px;
    transition: transform 0.5s ease-in;
}

.post-your-story img{
    position: absolute;
    left: 20px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.post-your-story{
    position: relative;
    align-items: center;
    justify-content: center;
}

.post-your-story input{
    padding: 15px;
    padding-left: 60px;
    width: 98%;
    border-radius: 25px;
    border: none;
}

.post-your-story input:focus{
    outline: none;
}

.post-your-story button{
    position: absolute;
    border: none;
    padding: 10px 30px;
    border-radius: 25px;
    background-color: rgb(0, 136, 255);
    color: white;
    font-weight: 700;
    cursor: pointer;
    right: 20px;
}

.post{
    margin: 10px 0;
    background-color: white; 
    border-radius: 15px;
    flex-direction: column;
    align-items: center;
}

.post-details{
    position: relative;
    width: 100%;
    padding: 10px;
    align-items: center;
    justify-content: flex-start;
}

.poster-details{
    margin-left: 10px;
}

.post-details p{
    font-size: 10px;
}

.post-details h2{
    font-size: 15px;
    font-weight: 700;
}

.profile-dp{
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.post-img{
    width: 95%;
    margin: 10px;
    border-radius: 20px;
}

.about-post{
    cursor: pointer;
    position: absolute;
    width: 15px;
    right: 20px;
}

.post-response{
    width: 100%;
}

.react{
    position: relative;
    padding: 0 25px;
    margin-bottom: 5px;
}

.react img{
    cursor: pointer;
    width: 20px;
    margin: 0 5px;
}

.likes-section{
    position: relative;
    margin: 0 15px;
    margin-bottom: 5px;
}

.likes-section img{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: 2px solid white;
}

.likes-section p{
    margin-left: 25px;
    font-size: 15px;
}

.likes-section span{
    font-weight: 700;
}

.caption-section{
    padding: 0 15px;
}

.caption-section span{
    font-weight: 700;
}

.comments-count{
    margin-top: 2px;
    margin-bottom: 10px;
    cursor: pointer;
    color: grey;
}

.message-heading{
    padding: 15px 10px;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.message-heading h1{
    font-size: 25px;
    font-weight: 700;
}

.message-heading img{
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.search-messages{
    width: 90%;
    position: relative;
    align-items: center;
    justify-content: center;
}

.search-messages img{
    position: absolute;
    left: 20px;
    width: 25px;
    height: 25px;
}

.search-messages input{
    padding: 15px 20px;
    padding-left: 60px;
    width: 100%;
    background-color: rgb(223, 236, 255);
    border-radius: 25px;
    border: none;
}

.search-messages input:focus{
    outline: none;
}

.sections-btns{
    position: relative;
    margin-top: 20px;
    width: 90%;
    justify-content: center;
    border-bottom: 4px solid grey;
}

.sections-btns p{
    margin: 0 8px;
    font-weight: 700;
    padding-bottom: 10px;
    cursor: pointer;
}

.sections-btns hr{
    position: absolute;
    top: 30px;
    left: 0;
    width: 75px;
    height: 4px;
    background-color: rgb(0, 50, 94);
    border: none;
}

.users-msg{
    width: 100%;
}

.user{
    cursor: pointer;
    position: relative;
    margin: 10px;
    align-items: center;
}

.user span{
    position: absolute;
    border-radius: 50%;
    top: 30px;
    left: 28px;
    background-color: rgb(0, 255, 0);
    width: 15px;
    height: 15px;
    border: 2px solid white;
}

.user h4{
    font-size: 18px;
}

.user p{
    color: grey;
}

.user img{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.request-box{
    margin-top: 20px;
    width: 100%;
    background-color: white;
    padding: 10px;
    border-radius: 15px;
}

.request-user{
    align-items: center;
}

.request-user img{
    margin-right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.request-details h1{
    font-size: 20px;
    font-weight: 600;
}

.request-details p{
    color: grey;
    font-size: 15px;
}

.request-btns{
    margin-top: 10px;
}

.request-btns button{
    margin: 0 10px;
    padding: 12px 20px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    background-color: rgb(0, 136, 255);
    color: white;
    font-weight: 700;
}